<p-toast
  styleClass="custom-toast"
  [showTransformOptions]="'translateX(100%)'"
  [hideTransformOptions]="'translateX(100%)'"
></p-toast>
<p-confirmDialog #cd [style]="{ width: '35vw' }">
  <ng-template pTemplate="footer">
    <p-button
      label="No"
      severity="danger"
      [raised]="true"
      tooltipPosition="bottom"
      (click)="cd.reject()"
    />
    <p-button
      label="Yes"
      [raised]="true"
      tooltipPosition="bottom"
      (click)="cd.accept()"
    />
  </ng-template>
</p-confirmDialog>
<router-outlet />
